@using QuickApi.Models
@model Employee

@{
    ViewData["Title"] = "Update Employee";
}
<div>
    <h4>Update Employee</h4>
    <hr />
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Update">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group mb-2">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Name" value="@Model.Name" required>
            </div>
            <div class="form-group mb-5">
                <label>Salary</label>
                <input type="text" class="form-control" name="Salary" placeholder="Salary" value="@Model.Salary" required>
            </div>
            <button class="btn btn-success" type="submit">Update Employee</button>
            <button class="btn btn-primary" asp-action="Index">Back to List</button>
        </form>
    </div>
</div>