@using ToDoBlazorServer.Services;
@inject ITodoService _todoService;

<EditForm Model="@NewItem" OnSubmit="@ItemAdded">
    <div style="width: 20px; float: left; margin-right: 25px;">Text:</div>
    <div style="display: flex;">
        <InputText @bind-Value="NewItem.Text" class="form-control mb-2 me-2 w-50" id="Item"/>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
        <button type="reset" class="btn btn-secondary mb-2 ms-2">Clear</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public required Action OnItemAdded { get; set; }

    private TodoItem NewItem = new TodoItem("");

    public void ItemAdded()
    {
        var newItem = new TodoItem(NewItem.Text);
        NewItem.Text = "";
        _todoService.Add(newItem);

        if (OnItemAdded != null)
        {
            OnItemAdded();
        }
    }
}
