@page "/"
@page "/recipes"
@using BlazorRecipeServer.Models
@using BlazorRecipeServer.Services
@inject RecipeService _service;

<h3>Recipes</h3>

<NavLink class="nav-link" href="/recipes/add">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>

</NavLink>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>            
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Recipe recipe in recipes)
        {
            <tr>
                <td>
                    @recipe.Name
                </td>
                <td>
                    @recipe.Description
                </td>
                <td>
                    <a href="/recipes/edit/@recipe.Id">Edit</a> |
                    <a href="/recipes/details/@recipe.Id">Details</a> |
                    <a href="/recipes/delete/@recipe.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Recipe> recipes = new();

    protected override async Task OnInitializedAsync()
    {
        recipes = await _service.GetAllRecipes();
    }
}
